paper.pdf
paper-2x1.pdf
*.log
*.aux
*.auxlock
*.aux-old
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.bcf
*.tgz
*.zip
*.rpi
*.stamp
*~
*.backup
*.kilepr
*.vtc
csv
Thumbs.dbi*
llncsdoc.pdf
fig1-eps-converted-to.pdf
fig1.eps
oldREADME.md
plots/
*.tsv
*.tsv.ref
coverage
reference
*.ref
getResults.sh
batch.py
resampling.py
code
cover-letter/coverletter.pdf
cover-letter/coverletter.synctex.gz
